@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  text-align: center;
  margin: 0;
  /* overflow: hidden; */
}

p,
span,
svg {
	padding: 0;
	margin: 0
}

.title{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
}

.sub-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-bottom: 3rem;
}

#error {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: none;
}

#setup-minutes, #setup-seconds, #timer-minutes, #timer-seconds, .setup-separator, .timer-separator{
  font-family: "Roboto Mono", monospace;
  font-size: 5rem;
}

#setup{
  display: inline;
}

#setup-minutes {
  width: 50px;
}

#setup-seconds {
  width: 50px;
}

.line {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #000000;
}

#up{
  margin-bottom: 0.8rem;
}

#down{
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

#timer{
  display: none;
}

#button{
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  background-color: white;
  padding: 0rem 0.5rem 0.7rem 0.5rem;
  margin-top: 1.6rem;
}

#setup-minutes, #setup-seconds{
  border: 1px solid black;
  text-align: center;
  width: 1.4em;
}
